@tailwind base;
@tailwind components;
@tailwind utilities;


.modal_show {
    display: block;
}
.modal_input{
    display: block;
    width: 250px;
    height: 50px;
    margin: 30px auto;
    background-color: white;
    box-shadow: 0 6px 15px rgba(0, 84, 165, 0.2);
    border: none;
    text-align: center;
}
.modal_btn {
    color: rgb(77, 57, 57);
    transition: all 0.3s;
    position: relative;
  }
  .modal_btn span {
    transition: all 0.3s;
  }
  .modal_btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(237, 66, 66, 0.5);
    border-bottom-color: rgba(237, 66, 66, 0.5);
    transform: scale(0.1, 1);
  }
  .modal_btn:hover span {
    letter-spacing: 2px;
  }
  .modal_btn:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .modal_btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .modal_btn:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  
  [data-close] {
    cursor: pointer;
    position: absolute; 
    top: 20px; 
    right: 30px;
  }
  [data-close]:before, [data-close]:after {
      content: ""; 
      position: absolute; 
      width: 15px; 
      height: 4px; 
      background: rgb(145, 100, 100);
      
    }
  [data-close]:before {
      transform: rotate(45deg);
  } 
  [data-close]:after {
      transform: rotate(-45deg);
  }